@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 11, 29;
  --background-start-rgb: 248, 248, 248;
  --background-end-rgb: 248, 248, 248;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .filter-green {
    filter: invert(43%) sepia(41%) saturate(340%) hue-rotate(70deg)
      brightness(97%) contrast(90%);
  }
}
